<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>运维管理|用户列表</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>

<table class="table table-striped">
    <caption>
        <a th:href="@{'/user/toAddUser'}">添加用户</a>
    </caption>
    <thead>
    <tr>
        <th>序号</th>
        <th>昵称</th>
        <th>电话</th>
        <th>地址</th>
        <th>email</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${userList}">
        <td th:text="${userStat.count}"></td>
        <td th:text="${user.nick}"></td>
        <td th:text="${user.phone}"></td>
        <td th:text="${user.address}"></td>
        <td th:text="${user.email}"></td>
        <td>
            <a th:href="'/user/toUpdateUser?id=' + ${user.id}">修改</a>
            <a th:href="'/user/toDeleteUser?id=' + ${user.id}">删除</a>
        </td>
    </tr>
    <tr style="text-align: center;">
        <td colspan="6">
                <span th:if="${curPage <= 1}">
                    首页
                    上一页
                </span>
            <span th:if="${curPage > 1}">
                    <a th:href="@{/user/userlist}">首页</a>
                    <a th:href="@{'/user/userlist?curPage=' + ${curPage - 1}}">上一页</a>
                </span>
            <span th:if="${curPage == totaPages}">
                    下一页
                    尾页
                </span>
            <span th:if="${curPage < totaPages}">
                    <a th:href="@{'/user/userlist?curPage=' + ${curPage + 1}}">下一页</a>
                    <a th:href="@{'/user/userlist?curPage=' + ${totaPages}}">尾页</a>
                </span>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>